<div class="container-fluid">
 <div class="div-form container">
   <div class="row">
     <div class="col-4 c-icon">
       <svg cIcon name="cibGithub" class="icon"></svg>
     </div>
     <div class="col c-contact">
       <label class="visually-hidden" for="github">Username</label>
       <div class="input-group" id="github" >
         <div class="input-group-text"><a class="a2" href="https://github.com/LoriPitti"(click)="confermaUscita($event)" target="_blank">&#64;</a></div>
         <input type="text" class="form-control"  value="LoriPitti" [disabled]="true">
       </div>
     </div>
   </div>
   <div class="row r1">
     <div class="col-4 c-icon">
       <svg cIcon name="cibGmail" class="icon"></svg>
     </div>
     <div class="col c-contact">
       <p><a href="mailto:lori.pitti.01@gmail.com">lori.pitti.01&#64;gmail.com</a></p>
     </div>
   </div>
   <div class="row">
     <div class="col-4 c-icon">
       <svg cIcon name="cibWhatsapp" class="icon"></svg>
     </div>
     <div class="col c-contact">
       <p>+39 366 1249 213</p>
     </div>
   </div>
   <div class="row">
     <div class="col-4 c-icon">
       <svg cIcon name="cibLinkedin" class="icon"></svg>
     </div>
     <div class="col c-contact">
       <p><a href="https://www.linkedin.com/in/lorenzo-pittiglio" (click)="confermaUscita($event)"  target="_blank">www.linkedin.com/in/lorenzo-pittiglio</a></p>
     </div>
   </div>
 </div>
  <div class="row r-copy">
    <p class="info">Tutti i diritti riservati &copy; [2024][Lorenzo Pittiglio] <br> Questo sito è realizzato a cura di Lorenzo Pittiglio, con framework Angular su IntelliJ</p>
  </div>
</div>
